<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="Platformer" Publisher="CN=DefaultCompany" Version="1.0.0.0" ProcessorArchitecture="x86" />
  <Properties>
    <DisplayName>Platformer</DisplayName>
    <PublisherDisplayName>DefaultCompany</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="Template.exe" EntryPoint="Platformer.App">
      <VisualElements DisplayName="Platformer" Logo="Assets\SquareTile.png" SmallLogo="Assets\SmallTile.png" Description="Platformer" ForegroundText="light" BackgroundColor="#000000">
        <DefaultTile ShortName="Platformer" ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities />
</Package>