<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="Platformer" Publisher="CN=DefaultCompany" Version="0.0.0.2" ProcessorArchitecture="x86" />
  <Properties>
    <DisplayName>Platformer</DisplayName>
    <PublisherDisplayName>DefaultCompany</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="Template.exe" EntryPoint="Platformer.App">
      <m2:VisualElements DisplayName="Platformer" Description="Platformer" BackgroundColor="#000000" ForegroundText="light" Square150x150Logo="Assets\SquareTile.png" Square30x30Logo="Assets\SmallTile.png" ToastCapable="true">
        <m2:DefaultTile ShortName="Platformer" DefaultSize="square150x150Logo" Square70x70Logo="Assets\SquareTile_70.png" Square310x310Logo="Assets\SquareTile_310.png" Wide310x150Logo="Assets\WideLogo.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
        </m2:InitialRotationPreference>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#000000" />
        <m2:ApplicationView MinWidth="width500" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>